includes:
    - phpstan-extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/e2e/src
        - tests/e2e/bootstrap.php
        - tests/e2e/generate-tests.php
        - tests/e2e-strip/fixtures
        - tests/e2e-strip/run-e2e-strip.php

