services:
    # Return type extensions for helper functions
    -
        class: NSRosenqvist\PHPUnitInline\PHPStan\TestFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: NSRosenqvist\PHPUnitInline\PHPStan\StateReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    # Mark methods with inline test attributes as always used
    -
        class: NSRosenqvist\PHPUnitInline\PHPStan\InlineTestMethodUsageExtension
        tags:
            - phpstan.methods.alwaysUsedMethodExtension

parameters:
    # PHPUnit attributes don't officially support function targets, but we make it work.
    # Users of this library who write function-based tests will see these warnings
    # unless they add similar ignores to their own PHPStan config.
    ignoreErrors:
        -
            identifier: attribute.target
            reportUnmatched: false
